.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
*.ipr
*.iws
.vscode/

**/.firebase/
firebase-debug.log
firestore-debug.log

.env
.env.local
.env.*.local

coverage/
